<div class="filters-container">
  <!-- Name -->
  <div class="filter-group">
    <label for="nameOperator">Name</label>

    <nimble-select
      #nameOperator
      id="nameOperator"
      aria-label="Name operator"
      [value]="filters.nameOperator"
      (change)="filters.nameOperator = $any(nameOperator).value"
    >
      <nimble-list-option value="equals">Equals</nimble-list-option>
      <nimble-list-option value="notEquals">Does Not Equal</nimble-list-option>
    </nimble-select>

    <nimble-text-field
      #studentName
      id="studentName"
      aria-label="Student Name"
      placeholder="Student Name"
      [value]="filters.name"
      (change)="filters.name = $any(studentName).value"
    >
    </nimble-text-field>
  </div>

  <!-- Department -->
  <div class="filter-group">
    <label for="departmentOperator">Department</label>

    <nimble-select
      #departmentOperator
      id="departmentOperator"
      aria-label="Department operator"
      [value]="filters.departmentOperator"
      (change)="filters.departmentOperator = $any(departmentOperator).value"
    >
      <nimble-list-option value="equals">Equals</nimble-list-option>
      <nimble-list-option value="notEquals">Does Not Equal</nimble-list-option>
    </nimble-select>

    <nimble-text-field
      #department
      id="department"
      aria-label="Department"
      placeholder="Department"
      [value]="filters.department"
      (change)="filters.department = $any(department).value"
    >
    </nimble-text-field>
  </div>

  <!-- Enrolment Date -->
  <div class="filter-group">
    <label for="enrolmentDate">Enrolment Date</label>
    <nimble-select
      #enrolmentOperator
      id="enrolmentOperator"
      aria-label="Enrolment operator"
      [value]="filters.enrolmentOperator"
      (change)="filters.enrolmentOperator = $any(enrolmentOperator).value"
    >
      <nimble-list-option value="before">Before</nimble-list-option>
      <nimble-list-option value="after">After</nimble-list-option>
    </nimble-select>
    <input
      id="enrolmentDate"
      type="date"
      [value]="filters.enrolmentDate"
      (input)="filters.enrolmentDate = $any($event.target).value"
    />
  </div>

  <!-- Buttons -->
  <div class="button-group">
    <nimble-button appearance="outline" (click)="applyFilters()"> Apply Filters </nimble-button>

    <nimble-button appearance="outline" (click)="clearFilters()"> Clear </nimble-button>
  </div>

  <!-- Auto Refresh -->
  <div class="filter-group">
    <label for="autoRefresh">Auto Refresh</label>

    <nimble-select
      #autoRefresh
      [value]="refreshInterval"
      (change)="refreshInterval = $any(autoRefresh).value; onRefreshIntervalChange()"
    >
      <nimble-list-option value="5000">5 sec</nimble-list-option>
      <nimble-list-option value="10000">10 sec</nimble-list-option>
      <nimble-list-option value="30000">30 sec</nimble-list-option>
    </nimble-select>
  </div>
</div>
