<nimble-table [data$]="studentDetails$" id-field-name="id">
  <nimble-table-column-text field-name="id"> ID </nimble-table-column-text>

  <nimble-table-column-text field-name="name"> Name </nimble-table-column-text>

  <nimble-table-column-text field-name="department"> Department </nimble-table-column-text>

  <nimble-table-column-text field-name="enrolmentDate"> Enrolment Date </nimble-table-column-text>

  <nimble-table-column-text field-name="status"> Status </nimble-table-column-text>

  <nimble-table-column-text field-name="interests"> Interests </nimble-table-column-text>
</nimble-table>
